<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Lembretes locais de evento. POST_NOTIFICATIONS e obrigatoria a partir
         do Android 13; RECEIVE_BOOT_COMPLETED permite reagendar apos reiniciar. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Sem isto, canScheduleExactNotifications() responde false para sempre no
         Android 12+, o aviso de 5 minutos cai em alarme inexato (que o sistema
         agrupa e atrasa) e o botao "Ativar alarmes exatos" da tela do evento
         nao tem o que conceder.

         Alternativa: USE_EXACT_ALARM e concedida na instalacao e dispensa o
         prompt, mas so vale para app de alarme/calendario e exige justificar
         na revisao da Play Store. SCHEDULE_EXACT_ALARM manda o usuario aos
         ajustes, que e o fluxo que ReminderService.requestExactAlarms() ja
         implementa. -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:label="TableTop Events"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- tabletopevents://semana, tabletopevents://calendario -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tabletopevents"/>
            </intent-filter>
        </activity>
        <!-- Onde um push recebido com o app fechado e desenhado. Sem isto o
             Android joga a notificacao no canal "Diversos", que o usuario nao
             consegue silenciar sem silenciar os lembretes junto. Tem que ser
             igual a LocalAnnouncementPresenter.channelId. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="event_announcements" />

        <!-- Os alarmes vivem no sistema e o sistema os esquece no reboot. O
             plugin declara estes receivers no codigo, mas nao no manifest
             dele, entao o merge nao traz nenhum: sem as duas entradas abaixo o
             lembrete simplesmente nao volta depois de reiniciar o aparelho.

             MY_PACKAGE_REPLACED cobre a atualizacao do app, e os dois
             QUICKBOOT cobrem fabricantes que nao emitem BOOT_COMPLETED. -->
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"
            android:exported="false"/>
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
